body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-mini: 15px;
  --font-size-5xl: 24px;
  --font-size-17xl: 36px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #fcfcfc;
  --color-gray-200: #fbfbfb;
  --color-gray-300: #fafafa;
  --color-gray-700: #7d7b7b;
  --color-gray-400: #252525;
  --color-gray-500: #1c1c1c;
  --color-gray-600: #0c0c0c;
  --color-darkgray: #9f9f9f;
  --color-gold: #d0bc05;
  --color-lightgray-100: #d5d5d5;
  --color-lightgray-200: #d2d2d2;
  --color-dimgray: #686868;
  --color-black: #000;
  --color-red-100: #f70707;
  --color-red-200: #f70000;
  --color-lavender: #d6ddf8;
  --color-whitesmoke: #ebebeb;
  --color-blue-100: #0000ff;

  /* border radiuses */
  --br-3xs: 10px;
  --br-8xs: 5px;
}
