.mdigraph-box {
  position: absolute;
  top: 601px;
  left: 27px;
  width: 33px;
  height: 24.48px;
  overflow: hidden;
}
.orders1-admin-child {
  position: absolute;
  top: 66px;
  left: 275px;
  background-color: var(--color-whitesmoke);
  width: 1165px;
  height: 958px;
}
.orders1-admin-item {
  position: absolute;
  top: 298px;
  left: calc(50% - 435px);
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 417px;
  height: 726px;
}
.list-of-orders,
.manage-orders {
  position: absolute;
  width: 11.04%;
  top: 318px;
  left: 21.46%;
  display: inline-block;
}
.manage-orders {
  width: 18.89%;
  top: 94px;
  font-size: var(--font-size-17xl);
}
.frame-child,
.frame-item {
  position: absolute;
  left: 0;
  border-radius: var(--br-8xs);
  height: 92px;
}
.frame-child {
  width: 100%;
  top: 1px;
  right: 0;
  background-color: var(--color-gray-300);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.frame-item {
  width: 24.56%;
  top: 0;
  right: 75.44%;
  background-color: var(--color-lavender);
}
.complete {
  position: absolute;
  width: 10.46%;
  top: 30px;
  left: 77.1%;
  display: inline-block;
  height: 24px;
  cursor: pointer;
}
.frame-inner {
  position: absolute;
  width: 0.09%;
  top: 1px;
  right: 23.58%;
  left: 76.33%;
  max-width: 100%;
  overflow: hidden;
  height: 61px;
}
.delivery,
.new,
.preparing {
  position: absolute;
  display: inline-block;
  height: 24px;
}
.preparing {
  width: 13.19%;
  top: 31px;
  left: 30.51%;
  cursor: pointer;
}
.delivery,
.new {
  width: 5.32%;
  top: 34px;
  left: 9.66%;
}
.delivery {
  width: 9.26%;
  top: 32px;
  left: 56.29%;
  cursor: pointer;
}
.frame-child1,
.line-icon {
  position: absolute;
  width: 0.09%;
  top: 1px;
  max-width: 100%;
  overflow: hidden;
  height: 61px;
}
.line-icon {
  right: 75.78%;
  left: 24.13%;
  border-radius: var(--br-8xs);
}
.frame-child1 {
  right: 49.96%;
  left: 49.96%;
}
.rectangle-div,
.rectangle-parent {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.rectangle-parent {
  position: absolute;
  width: 79.44%;
  top: 182px;
  right: 0.69%;
  left: 19.86%;
  height: 92px;
}
.rectangle-div {
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-300);
  width: 718.59px;
  height: 1142px;
  z-index: 0;
}
.frame-child2 {
  position: absolute;
  margin: 0 !important;
  width: 16.86%;
  top: 647px;
  right: 21.93%;
  left: 61.21%;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-red-200);
  box-sizing: border-box;
  height: 62.56px;
  z-index: 1;
}
.cancel-order,
.order-info {
  position: absolute;
  margin: 0 !important;
  display: inline-block;
}
.cancel-order {
  width: 13.22%;
  top: calc(50% + 304px);
  left: 63.01%;
  z-index: 2;
}
.order-info {
  width: 20.69%;
  top: 23.39px;
  left: 2.07%;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  height: 32.75px;
  z-index: 3;
}
.group-child {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  height: 105.68px;
}
.customer-name {
  position: absolute;
  width: 19.5%;
  top: 18.75px;
  left: 75.76%;
  display: inline-block;
  height: 21.72px;
}
.group-item {
  position: absolute;
  width: 0.14%;
  top: 0.69px;
  right: 27.04%;
  left: 72.82%;
  border-right: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
  height: 105.5px;
}
.address {
  position: absolute;
  width: 11.26%;
  top: 18.75px;
  left: 48.65%;
  display: inline-block;
  height: 21.72px;
}
.group-inner {
  position: absolute;
  width: 0.14%;
  top: 0.69px;
  right: 54.15%;
  left: 45.71%;
  border-right: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
  height: 105.5px;
}
.email,
.order-no {
  position: absolute;
  width: 8.72%;
  top: 18.75px;
  left: 24.87%;
  display: inline-block;
  height: 21.72px;
}
.order-no {
  width: 12.84%;
  left: 2.99%;
}
.line-div {
  position: absolute;
  width: 0.14%;
  top: 0.69px;
  right: 77.94%;
  left: 21.92%;
  border-right: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
  height: 105.5px;
}
.rectangle-container {
  width: 100.06%;
  top: 95px;
  right: -0.06%;
  left: 0;
  height: 105.68px;
  z-index: 4;
  color: var(--color-dimgray);
}
.accept-order,
.frame-child3,
.rectangle-container {
  position: absolute;
  margin: 0 !important;
}
.frame-child3 {
  width: 16.86%;
  top: 647px;
  right: 1.84%;
  left: 81.29%;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-600);
  height: 62.56px;
  z-index: 5;
}
.accept-order {
  width: 13.57%;
  top: calc(50% + 304px);
  left: 82.91%;
  display: inline-block;
  color: var(--color-white);
  height: 21px;
  z-index: 6;
}
.rectangle-group {
  position: absolute;
  width: 49.9%;
  top: 298px;
  right: 0.78%;
  left: 49.32%;
  height: 726px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  font-size: var(--font-size-mini);
  color: var(--color-red-100);
}
.group-child1 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-gray-400);
  height: 65px;
}
.gridiconsdropdown,
.iconoirprofile-circle {
  position: absolute;
  top: 11.67px;
  right: 196px;
  width: 45px;
  height: 31.67px;
  overflow: hidden;
}
.gridiconsdropdown {
  width: 2.15%;
  top: 20px;
  right: 1.81%;
  left: 96.04%;
  max-width: 100%;
  height: 22.5px;
}
.vector-icon {
  position: absolute;
  top: 22.5px;
  left: 31px;
  width: 33px;
  height: 20.83px;
}
.iconamoonnotification-fill {
  position: absolute;
  top: 20px;
  right: 250px;
  width: 21px;
  height: 15px;
  overflow: hidden;
}
.logo-1-icon {
  position: absolute;
  top: 15.83px;
  left: 97px;
  width: 53px;
  height: 45.5px;
  object-fit: cover;
}
.super-admin {
  position: absolute;
  height: 30.77%;
  top: 29.49%;
  right: 47.44px;
  display: inline-block;
  width: 137.04px;
}
.group-div,
.rectangle-icon {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.group-div {
  height: 65px;
  font-size: var(--font-size-xl);
  color: var(--color-gold);
}
.rectangle-icon {
  max-width: 100%;
  overflow: hidden;
  height: 958px;
}
.category,
.customers,
.dashboard,
.products {
  position: absolute;
  width: 45.26%;
  top: 94.25px;
  left: 30.29%;
  font-weight: 600;
  display: inline-block;
  height: 28.87px;
}
.category,
.dashboard,
.products {
  top: 148.59px;
}
.dashboard,
.products {
  top: 200.39px;
}
.dashboard {
  width: 41.61%;
  top: 35.86px;
  height: 28.56px;
}
.icsharp-people {
  position: absolute;
  width: 12.04%;
  top: 631.64px;
  right: 73.72%;
  left: 14.23%;
  height: 29.12px;
  overflow: hidden;
}
.order-confirmation {
  position: absolute;
  width: 100%;
  top: 100.19px;
  left: 0;
  font-weight: 500;
  display: inline-block;
  height: 46.7px;
}
.statistics {
  width: 76.3%;
  top: 230.1px;
  color: var(--color-gray-700);
  height: 27.37px;
}
.manage-orders1,
.order-cancellation,
.orders,
.statistics {
  position: absolute;
  left: 0;
  display: inline-block;
}
.orders {
  width: 60%;
  top: 0;
  color: var(--color-gray-700);
  height: 27.37px;
}
.manage-orders1,
.order-cancellation {
  width: 70.37%;
  top: 41.61px;
  font-weight: 500;
  height: 50.1px;
}
.order-cancellation {
  width: 100%;
  top: 162.18px;
  height: 27.99px;
}
.order-confirmation-parent {
  position: absolute;
  width: 49.27%;
  top: 245.39px;
  right: 20.44%;
  left: 30.29%;
  height: 257.47px;
  color: var(--color-darkgray);
}
.message,
.message-wrapper {
  position: absolute;
  height: 27.99px;
}
.message {
  width: 100%;
  top: 0;
  left: 0;
  font-weight: 600;
  display: inline-block;
}
.message-wrapper {
  width: 32.12%;
  top: 525.59px;
  right: 37.59%;
  left: 30.29%;
}
.material-symbolsdashboard-icon {
  position: absolute;
  width: 8.76%;
  top: 35.66px;
  right: 77.01%;
  left: 14.23%;
  max-width: 100%;
  overflow: hidden;
  height: 20.38px;
}
.fluentpeople-24-filled-icon,
.mdiusers {
  position: absolute;
  width: 8.76%;
  top: 431.34px;
  right: 76.28%;
  left: 14.96%;
  height: 20.38px;
  overflow: hidden;
}
.fluentpeople-24-filled-icon {
  top: 94.25px;
  right: 75.55%;
  left: 15.69%;
  max-width: 100%;
}
.vector-parent {
  position: absolute;
  width: 19.03%;
  top: 66px;
  right: 80.9%;
  left: 0.07%;
  height: 958px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-700);
}
.orders1-admin {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
